@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">StoryBuilder.io</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Welcome to StoryBuilder.io! With easy-to-use editing features, you can create new content, update existing pieces, and remove outdated material with just a few clicks. Our user-friendly interface ensures that anyone, regardless of technical expertise, can navigate and utilize StoryBuilder effectively!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Login</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Register</button>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="~/assets/undraw_book_lover_re_rwjy.svg" class="img-fluid" alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
